html,
body,
.container,
#visjs-network {
  width: 100%;
  height: 100%;
  padding: 0;
}

.container {
  position: relative;
}

.top-row {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 40px;
  align-items: center;
}

.top-row .progress-button {
  margin-left: 16px;
}

.top-row .stack-frames-dropdown {
  flex-grow: 1;
  margin: 0 16px;
}
